<footer>
    <address>
        <a href="mailto:fleet.wheels@gmail.com">Click here to send an email!</a><br>
        <a href="tel:+40727000000">Call us!</a><br>
        <a href="https://wa.link/r3oeqz" target="_blank">Click here to message us on WhatsApp!</a><br>
        <p>Bucharest, Cars Street, no. 17   </p>
    </address>
    <a href="#" class="sticky-button">
        <div class="triangle"></div>
    </a>
</footer>