<header>
    <h1>FleetWheels</h1>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resources/IMG/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div id="home"><a href="/">Home</a></div><div id="home-m"><span class="fas fa-regular fa-house"></div>
            <ul>
                <li><a href="#about">General</a></li>
                <li><a href="#cities">Cities</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#general_fleet">About our Fleet</a></li>
                <li><a href="#questions">Questions</a></li>
            </ul>
        </li>
        <li><a href="fleet">Fleet</a>
            <ul>
                <li><a href="/fleet?tip_masina=luxury">Luxury</a></li>
                <li><a href="/fleet?tip_masina=muscle">Muscle</a></li>
                <li><a href="/fleet?tip_masina=family">Family</a></li>
                <li><a href="/fleet?tip_masina=sedan">Sedan</a></li>
                <li><a href="/fleet?tip_masina=hatchback">Hatchback</a></li>
                <li><a href="/fleet?tip_masina=supercar">Supercar</a></li>
                <li><a href="/fleet?tip_masina=clasic">Clasic</a></li>
                <li><a href="/fleet?tip_masina=offroad">Offroad</a></li>
                <li><a href="/fleet?tip_masina=sport">Sport</a></li>
            </ul>
        
        </li>
        <li><a href="rezervations.html">Reservations</a></li>
        <li><a href="customer_support.html">Customer Support</a></li>
    </ul>
</nav>