<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FleetWheels</title>
        <meta name="keywords" content="Inchirieri auto, rezervare masini, inchiriere ieftina">
        <meta name="descriere" content="Site de inchiriere de masini">
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body class="dark">
    <%- include("../fragmente/header.ejs") %>
        <p id="watermark"></p>
        <h2>alta pagina</h2>
    </body>
    <%- include("../fragmente/footer.ejs") %>
</html>